.layout {
  display: flex;
  min-height: 100vh;
  background-color: var(--bg-color);
}

.main-content {
  margin-left: 220px;
  flex: 1;
  padding: 20px;
  background-color: var(--bg-color);
  color: var(--text-color);
}
